@define-color selected-text #d3c6aa;
@define-color text #7A8478;
@define-color base #2d353b;
@define-color border #d3c6aa;
@define-color foreground #d3c6aa;
@define-color background #2d353b;

* {
    all: unset;
}

* {
    font-family: monospace;
    font-size: 14px;
    color: @text;
}

scrollbar {
    opacity: 0;
}

.normal-icons {
    -gtk-icon-size: 16px;
}

.large-icons {
    -gtk-icon-size: 32px;
}

.box-wrapper {
    background: alpha(@base, 0.98);
    padding: 10px;
    border: 2px solid @border;
    border-radius: 8px;
}

.preview {
    border: 1px solid alpha(@accent_bg_color, 0.25);
    padding: 10px;
    border-radius: 2px;
    color: @selected-text;
    background: darker(@background);
}

.preview-box {
}

.box {
}

.search-container {
    background: @base;
    padding: 0px;
}

.input placeholder {
    opacity: 0.5;
}

.input {
    background: @background;
    filter: brightness(110%);
    padding: 10px;
    border-radius: 4px;
}

.input:focus,
.input:active {
    box-shadow: none;
    outline: none;
}

.content-container {
}

.placeholder {
}

.scroll {
}

.list {
}

child,
child > * {
}

child:hover .item-box {
}

child:selected .item-box {
}

child:selected .item-box * {
    color: @selected-text;
}

.item-box {
    padding-left: 5px;
}

.item-text-box {
    all: unset;
    padding: 5px 0;
}

.item-text {
}

.item-subtext {
    font-size: 0px;
    min-height: 0px;
    margin: 0px;
    padding: 0px;
}

.item-image {
    margin-right: 14px;
    -gtk-icon-transform: scale(0.9);
}

.current {
    font-style: italic;
}

.keybinds {
    padding-top: 10px;
    border-top: 1px solid lighter(@background);
    font-size: 12px;
    color: @foreground;
}

.keybind-hints {
    background: @background;
    padding: 10px;
    margin-top: 10px;
}

.keybind-button {
    opacity: 0.5;
}

.keybind-button:hover {
    opacity: 0.75;
    cursor: pointer;
}

.keybind-bind {
    text-transform: lowercase;
    opacity: 0.35;
    color: @selected-text;
}

.keybind-label {
    padding: 2px 4px;
    border-radius: 4px;
    color: @selected-text;
    border: 1px solid @text;
}
